#container {
    display: flex;
    flex-flow: wrap;
    align-content: flex-start;
    height: 960px;
    width: 960px;
}
.block  {
    background-color: black;
}
.colorChange    {
    background-color: rgb(89, 0, 255);
}